@keyframes logo-animation {
  0% {
    transform: translateY(-200px);
  }

  40% {
    transform: translateY(0), rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header {
  background-image: url(../images/header/mobile_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 22px;
  padding-bottom: 22px;

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: $main-font;
    color: $white;
    font-weight: 700;
    margin: 0;
  }
}

.site-logo {
  display: block;
  width: 100px;
  animation: logo-animation 2s linear;
}

@media (max-width: 767px) {
  .header__title {
    &-span {
      display: block;
    }
  }

  .site-logo {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .header {
    background-image: url(../images/header/tablet_bg.jpg);
    padding-top: 32px;
    padding-bottom: 32px;

    &__title {
      font-size: 30px;
    }
  }
}

.site-logo {
}

@media (min-width: 1200px) {
  .header {
    background-image: url(../images/header/desktop_bg.jpg);
    padding-top: 26px;
    padding-bottom: 26px;

    &__title {
      font-size: 48px;
    }
  }
}

.site-logo {
}
